<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twIRCk.app</title>
    <meta name="description" content="Homepage for twIRCk.app, available now in the Mac App Store.">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class=span4></div>
        <div class=span4><h1>twIRCk.app</h1></div>
        <div class=span4></div>
      </div>
      <div class=row>
        <div class="span4">
          <h3>/me twerks it with twIRCk</h3>
        </div>
        <div class=span4>
          <%= image_tag('twirck.icon.png'); %>
        </div>
        <div class="span4">
          <h2>About twIRCk</h2>
          twIRCk is an IRC client for OS X that makes IRC fun, easy and secure. Built specifically to take advantage of the technologies in OS X, twIRCk provides a beautiful, streamlined interface that is elegant and powerful.
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
