<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>twIRCk.app</title>
    <meta name="description" content="Homepage for twIRCk.app, available now in the Mac App Store.">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class=row>
        <div class=span2></div>
        <div class=span3>
          Mac App for Mtn. Lion and Mavericks
        </div>
        <div class=span2>
          <a href='http://appstore.com/twIRCk'>
            <%= image_tag('Download_on_the_Mac_App_Store_Badge_US-UK_165x40_0824.png') %>
          </a>
        </div>
        <div class=span3>
          A beautiful, modern, extensible IRC client for Mac OS X
        </div>
      </div>
      <div id=title class=row>
        <div class=span4></div>
        <div class=span4><h1>twIRCk</h1></div>
        <div class=span4></div>
      </div>
      <div class=row>
        <%= yield %>
      </div>
      <div class="row footer">
        <div class=span4>
          <a href='/about'>About twIRCk.app</a>
        </div>
        <div class=span4>
          <a href='/privacy'>Privacy</a>
        </div>
        <div class=span4>
          <a href='http://appstore.com/twIRCk'>Available on the Mac App Store Now</a>
        </div>
      </div>
    </div>
  </body>
</html>
